* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lime;
    color: white;
}
body{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}


/* contenitore header */
.menu-navigazione {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sfondo-principale {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* contenitore con all'iterno logo/menu/accedi */
.contenitore {
    position: absolute;
    top: 45px;
    width: 72%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 18%;

}

/* contenitore logo */
.logo {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* menu ul di navigazione */
.menu {
    width: 46%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menu ul li {

    display: flex;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    height: auto;
    width: 100%;
    text-align: center;

}

.menu ul li a {
    text-decoration: none;
}

/* tastoaccedi  */
.accedi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.accedi button {
    background-color: #ffff;
    color: black;
    height: 35px;
    width: 80px;
    align-content: center;
    border-radius: 20px;
    border:none


}

/* contenitore testo e bottoni  */

.text {
    position: absolute;
    left: 25%;
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

/* titolo */
.text h1 {
    height: auto;
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: 40px;

}

/* paragrafo */
.text p {
    height: auto;
    width: 60%;
    align-self: center;
    text-align: center;
}

/* contenitore bottoni */
.button {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.text button {
    height: auto;
    width: 100px;
    align-self: center;
    border: none;
}

#tasto1 {
    background-color: #ffff;
    color: black;
    height: 50px;
    width: 140px;
    border-radius: 20px;
    
}

#freccia {
    color: black;
    font-size: 20px;
}

#tasto2 {
    background-color: black;
    color: #ffff;
    height: 50px;
    width: 200px;
    border-radius: 20px;
}

/* contenitore sfondo main  */
main {
    height: auto;
}

.sfondo {
    height: 500px;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.immagine {
    display: flex;
    flex-direction: row;
    height: 345px;
}


/* contenitore section text2 */
.text2 {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/* titolo secondo contenitore */
.text2 h2 {
    color: black;
    font-size: 35px;
    width: 60%;
    align-self: center;
    line-height: 45px;

}

/* paragrafo  secondo contenitore*/
.text2 p {
    color: black;
    width: 60%;
    align-self: center;
    font-size: 17px;
}


/* contenitore sfondo due main  */
.sfondo2 {
    height: 600px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text3 h2 {
    font-size: 40px;
    width: 300px;
    height: auto;
    color: black;
}

.text3 p {
    font-size: 18px;
    width: 300px;
    height: auto;
    color: black;
}

/* ultimo contenitore del main  */

.text4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    height: auto;

}

.text4 h2 {
    font-size: 40px;
    width: 80%;
    margin: 0 auto;
    color: black;
    margin-top: 50px;
}

.text4 p {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    color: black;
}
.text5{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    height: auto;
    width: 650px;


}

.text5 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 330px;
    font-size: 20px;
    width: 100%;
    color: black;
    margin-bottom: 30px;
    height: 70px;
}

#dowload {
    background-color: #8ea1e1;
    color: #ffff;
    height: 35px;
    width: 150px;
    align-self: center;
    border-radius: 30px;
    margin-bottom: 30px;
    border: none;
}

#freccia2 {
    color: #ffff;
    font-size: 20px;
}


footer {
    background-color: #23272a;
    width: 100%;
    height: auto;
}

.contenitore-piedipagina {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin: 0 auto;
    width: 80%;

}

/* contenitore delle lista */
.lista-footer {
    flex-basis: 200px;
    display: flex;
    margin-top: 100px;
}

/* contenitore lista 3  */
.lista-footer2 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: auto;
    margin-top: 100px;
    gap: 5px;
    flex-basis: 280px;
    margin-right: 40px;
}

.menu1 ul {
    width: 100%;
    height: auto;
}

.menu1 ul li {
    height: auto;
    margin: 5px auto;
    list-style-type: none;
    color: #ffff;
}
.menu1 ul li a{
    text-decoration: none;
}

.menu1 ul li h4 {
    color: #6376ba;
}


.lista-footer2 ul li {
    list-style-type: none; 
   
}
.lista-footer2 ul li h3 {
    color:#6376ba ;
    font-size: 30px;
}
.italia{
    display: flex;
    margin-top:10px;
}
#img-italia{
    height: 30px;
}
.italia p{
    display: flex;
    align-self: center;
    margin-left: 5px;
}
#arrow-down {
    display: inline-block;
      transform: rotate(90deg);
      margin-left: 5px;
}


.button2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    gap: 30px;
    margin-top: 10px;
}

.button2 button {
   background-color: #23272a;
    width: 50px;
    height: 30px;

}

.hr1{
  
    width: 65%;
    margin: 10px auto;
}
.hr1 hr{
    background-color:#4a5882;
}

.logo-tasto {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100px;
    margin: 0 auto;
}
.accedi2 button {
    background-color:#6376ba;
    color: white;
    height: 50px;
    width: 80px;
    align-content: center;
    border-radius: 20px;
    margin-top: 20px;
    border: none;

}