* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid lime;
    text-transform: capitalize;
    color: white;
}

/* contenitore header */
.menu-navigazione {
    /* background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    position: relative;
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* gap: 200px; */
}

#sfondo-principale{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* contenitore con all'iterno logo/menu/accedi */
.contenitore {
    position: absolute;
    top: 45px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 18%;

}

/* contenitore logo */
.logo {
    height:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

/* menu ul di navigazione */
.menu {
    width: 46%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.menu ul li {
    
    display: flex;
    justify-content: center;
    align-self: center;
    list-style-type: none;
    height: auto;
    width: 100%;
    text-align: center;
    
}

.menu ul li a{
    text-decoration: none;
}

/* tastoaccedi  */
.accedi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
   
}

.accedi button {
    background-color:#ffff;
    color: black;
    height: 50px;
    width: 80px;
    align-content: center;
    border-radius: 30px;

}

/* contenitore testo e bottoni  */

.text {
    position: absolute;
    left: 25%;
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

/* titolo */
.text h1 {
    height:auto;
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: 40px;

}

/* paragrafo */
.text p {
    height:auto;
    width: 60%;
    align-self: center;
    text-align: center;
}

/* contenitore bottoni */
.button {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.text button {
    height: auto;
    width: 100px;
    align-self: center;
}

#tasto1 {
    background-color: #ffff;
    color: black;
    height: 50px;
    width: 140px;
    border-radius: 20px;
}
#freccia{
    color: black;
    font-size: 25px;
}

#tasto2 {
    background-color: black;
    color:#ffff ;
    height: 50px;
    width: 200px;
    border-radius: 20px;
}

/* contenitore sfondo main  */
main {
    height: auto;
}

.sfondo {
    height: 500px;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.immagine {
    display: flex;
    flex-direction: row;
    height: 345px;
}


/* contenitore section text2 */
.text2 {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

/* titolo secondo contenitore */
.text2 h2 {
    color: black;
    font-size: 35px;
    width: 60%;
    align-self: center;
    line-height: 45px;

}

/* paragrafo  secondo contenitore*/
.text2 p {
    color: black;
    width: 60%;
    align-self: center;
    font-size: 17px;
}


/* contenitore sfondo due main  */
.sfondo2 {
    height: 600px;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;
    height: 400px;
    background-color: black;
}

.text3 h2 {
    width: 300px;
    height: 100px;
    background-color: burlywood;
}

.text3 p {
    width: 300px;
    height: 100px;
    background-color: brown;
}


.lista {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 460px;
    background-color: black;
}

.lista ul {
    margin-left: 50px;
    margin-top: 30px;
}

.lista ul li {
    height: 50px;
    width: 250px;
    background-color: aquamarine;
    list-style-type: none;
}

/* contenitore sovrapposto al contenitore sfondo */
.contenitore-sovrapposto {


    position: absolute;
    padding: 20px;
    margin-top: 200px;
    margin-right: 300px;
    height: 260px;
    width: 230px;
    background-color: #ffff;
}

#immagine-sovrapposta,
ul
{
    width: 100%;
    height: 60px;
}

.contenitore-sovrapposto ul li{
    background-color: brown;
    height: 50px;
}

/* ultimo contenitore del main  */

.ultimo-sfondo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 930px;
    width: 100%;
    background-color: #f6f6f6;
}

.ultimo-sfondo h2{
    display: flex;
    align-self: center;
    height: 50px;
    width: 60%;
    background-color: burlywood;
}

.ultimo-sfondo p{
    display: flex;
    align-self: center;
    height: 200px;
    width: 60%;
    background-color:brown;
}

/* contenitore immagini */

.contenitore-immagine2{
    display: flex;
    align-self: flex-end;
    margin-right: 345px;
    background-color: black;
    height: 500px;
    width: 20%;
    border: 8px solid aquamarine;
}


.contenitore-immagini{
    display: flex;
    position: absolute;
    margin-top: 290px;
    margin-left: 345px;
    background-color: black;
    height: 500px;
    width: 45%;
   
}
/* tasti sotto alla prima immagine */


.immagini-verticali{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.img1{
    margin-left: 10px;
    display: flex;
    align-self:center;
    background-color: white;
    height: 60%;
    width: 60%;
}
.img2,
.img3{
    height: 100px;
    width: 250px;
    background-color: white;
    margin-left: 20px;

    
}

.titolo-tasto{
    display: flex;
    flex-direction: column;
    gap: 15px
    ;

}

.titolo-tasto h2{
    background-color: burlywood;
    display: flex;
    align-self: center;
    width: 500px;
}

.titolo-tasto button{
    background-color: blue;
    height: 50px;
    width: 100px;
    display: flex;
    align-self: center;

}
footer{
    background-color: #23272a;
    width: 100%;
    height: auto;
}

.contenitore-piedipagina{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;

}

/* contenitore delle lista */
.lista-footer{
    display: flex;
    width: 300px;
    height: 335px;
    background-color: #ffff;
    margin-top: 100px;
   
   
}
/* contenitore lista 2 */
.lista-footer2{
    display: flex;
    width: 300px;
    height: 665px;
    background-color: #ffff;
    margin-top: 100px;
}
/* contenitore lista 3  */
.lista-footer3{
    display: flex;
    width: 350px;
    height: 270px;
    background-color: #ffff;
    margin-top: 100px;
}
.menu1 li{
    width: 100%;
    height: 50px;
    margin: 5px auto;
    list-style-type: none;
    background-color: cadetblue;
}
.lista-footer3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.lista-footer3 h2{
    background-color: burlywood;
    width: 100%;
    height: 100px;
    display: flex;
    
}

.lista-footer3 span{
    background-color: brown;
    width: 100%;
    height: 100px;
    display: flex;
}

.button2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    gap: 30px;
}

.button2 button{
    background-color: blue;
    width: 50px;
    height: 50px;

}


.hr hr{
    background-color: #404b6a; 
    width: 65%;
    margin: 10px auto;
}
.logo-tasto{
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 100px;
    margin: 0 auto;
}

